* {
    margin: 0;
    padding: 0
}

.header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 1rem 1.5rem;
    margin-bottom: 1rem;
    background-color: whitesmoke;
    border-bottom: 1px solid #dee2e6;
}

.user-form {
    margin-top: 5%;
    background: lightblue;
    margin-left: 40%;
    margin-right: 40%;
    padding: 1%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175)
}

.input-element {
    width: 90%;
    height: 35px;
    font: 110% sans-serif;
    margin: 1%;
    text-align: center
}

.selector {
    width: 240px;
    height: 35px;
    font: 110% sans-serif;
    margin: 1%;
    text-align: center
}

.elements-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.error {
    font: 100% sans-serif;
    margin-top: 1%;
    text-align: center;
    border-radius: 7px;
    padding: 2%;
    background: rgb(255, 102, 132);
}

.converter-form {
    background: lightblue;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175)
}

table {
    margin-top: 1%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

th {
    background: lightblue;
    color: black;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: black;
}

td {
    background: #D8E6F3;
}

